{% extends 'base.html' %}

{% block title %} {{ room.name }}| {% endblock %}

{% block content %}
<div class="container">
    <h1 >{{ room.name }}</h1>
</div>
<form method="post" action="." id="form" >
        {% csrf_token %}
    <ul>
        {% for message in messages %}
        <li>
            <h2>{{ message.message|truncatewords:10 }}</h2>
{% if message.sender.avatar %}
    <p> <img class="img-left" src="{{ message.sender.avatar.url }}" style="width:50px"></p>
{% endif %}
            <h3>{{ message.sender }}</h3>
             <p>{{ message.date_added }}</p>

            <hr>
        </li>
        {% endfor %}
    </ul>


<div id="chat-message">

   <input id="chat-message-input" type="text" name="message"

           placeholder="Your message..." >
</div>
  <div>
    <button id="chat-message-submit" >Отправить</button>
  </div>
</form>

{% endblock content %}

        <!-- Optional JavaScript -->
{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.sender.username|json_script:"json-username" }}

        <script>
            const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
            const userName = JSON.parse(document.getElementById('json-username').textContent);

            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/'
                + roomName
                + '/'
            );

            chatSocket.onmessage = function (e) {
                console.log('onmessage')

                const data = JSON.parse(e.data);

                if (data.message) {
                    let html = '<div class="box">';
                        html += '<div class="chat" id="chat-message">';
                        html += '<div class="chat">';
                        html += '<h4>' + data.username + '</h4>';
                        html += '<p>' + data.message + '</p></div></div></div>';

                    document.querySelector('#chat-message').innerHTML += html;
                } else {
                    alert("Сообщение отсутствует");
               }

            };

            chatSocket.onclose = function (e) {
                console.log('onclose')

            };

            document.querySelector('#chat-message-submit').onclick = function (e) {
                e.preventDefault();

                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;

                chatSocket.send(JSON.stringify({
                    'message': message,
                    'username': userName,
                    'room': 'roomName',
                }));
                messageInputDom.value = '';
                return false;
            });

        </script>

{% endblock scripts %}